In [1]:
import pandas as pd
import numpy as np
from sklearn.externals import joblib
import gc

In [2]:
submission_list = [
    '../submissions/keras_3.csv',
    '../submissions/lgbm_1.csv'
]

In [4]:
list_ = list()
main = pd.read_csv(submission_list[0])
list_.append(main)
for file_ in submission_list[1:]:
    df = pd.read_csv(file_, usecols=['heart_disease_present'])
    list_.append(df)

solutions = pd.concat(list_, axis = 1, ignore_index = True)

In [5]:
solutions.head(5)

        0         1         2
0  olalu7  0.062572  0.491792
1  z9n6mx  0.075576  0.124770
2  5k4413  0.896371  0.780969
3  mrg7q5  0.005589  0.113125
4  uki4do  0.995853  0.737690

In [6]:
df_sol = solutions.iloc[:,list(range(1, len(submission_list)+1))]

In [7]:
df_sol['avg'] = solutions.mean(axis=1)

In [8]:
df_sol[:20]

           1         2       avg
0   0.062572  0.491792  0.277182
1   0.075576  0.124770  0.100173
2   0.896371  0.780969  0.838670
3   0.005589  0.113125  0.059357
4   0.995853  0.737690  0.866771
5   0.000184  0.071266  0.035725
6   0.002443  0.045329  0.023886
7   0.982657  0.710124  0.846390
8   0.727984  0.259455  0.493720
9   0.102692  0.091458  0.097075
10  0.004397  0.098994  0.051696
11  0.102964  0.674008  0.388486
12  0.305917  0.403031  0.354474
13  0.991485  0.784049  0.887767
14  0.223809  0.109752  0.166780
15  0.001270  0.041751  0.021511
16  0.000344  0.041804  0.021074
17  0.002814  0.041804  0.022309
18  0.996773  0.683848  0.840310
19  0.000867  0.081874  0.041371

In [9]:
final_df = pd.DataFrame({'patient_id': solutions[0], 'heart_disease_present': df_sol['avg']})

In [10]:
final_df[:20]

   patient_id  heart_disease_present
0      olalu7               0.277182
1      z9n6mx               0.100173
2      5k4413               0.838670
3      mrg7q5               0.059357
4      uki4do               0.866771
5      kev1sk               0.035725
6      9n6let               0.023886
7      jxmtyg               0.846390
8      51s2ff               0.493720
9      wi9mcs               0.097075
10     741h4l               0.051696
11     1ef64a               0.388486
12     wa2ix6               0.354474
13     8167zl               0.887767
14     n6nldr               0.166780
15     ph85fp               0.021511
16     jfan5p               0.021074
17     7c4iz1               0.022309
18     ukigml               0.840310
19     flwvnq               0.041371

In [11]:
final_df.to_csv('../submissions/ensemble_1.csv', index=None)